.Display {
    height: 50px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    background: white;
    width: 100%;
    margin: 0 0 20px;
    border: solid black 1px;
}

.Display-wrong {
    background: red;
}

.Display-success {
    background: green;
}